.banner{
    background-image: url(https://fotografias.larazon.es/clipping/cmsimages02/2023/02/11/0BD212ED-C2EB-4037-911E-0B0712BC09BE/pizzas-identidad-propia_98.jpg?crop=5472,3079,x0,y187&width=1900&height=1069&optimize=low&format=webply);
    width: 100%;
    height: 200px;
}