
@font-face {
    font-family: 'Jencifont';
    src: url(fonts/Inter-Black.otf);
}

.banner{
    background-image: url(https://fotografias.larazon.es/clipping/cmsimages02/2023/02/11/0BD212ED-C2EB-4037-911E-0B0712BC09BE/pizzas-identidad-propia_98.jpg?crop=5472,3079,x0,y187&width=1900&height=1069&optimize=low&format=webply); 
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    border: 5px solid #000000;
}


.footerarea {
    width: 100%;
    height: 70px;
    background-color: #e4e4e4ce;
    border: 5px solid #000000;
}

body{
    background: #e4e4e4;
background: radial-gradient(circle, rgb(247, 247, 247) 0%, rgb(0, 0, 0) 100%);
background-image: url(https://img.freepik.com/free-vector/seamless-pizza-ingredients_1176-269.jpg?t=st=1744050779~exp=1744054379~hmac=59285956396db2483bdf8fadb850ffc9e81242fa5662b8267284806cee1483e1&w=740);
}


.container{
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.658);
    border-radius: 25px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.425) ;
}


button{
    width: 300px;
    height: 230px;
    border-radius: 25px;
    border: 2px solid #2e1804;
    background-color: rgb(238, 238, 238);
    margin: 32px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.425);
}

#logo{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.4mm;
}


h2{
    text-align: center;
    font-family:fantasy;
    color: antiquewhite;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.4mm;
}


h4{
    font-family: fantasy;
    color: antiquewhite;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.3mm;
}


#pizza1 {
    height: 170px;
}